// 下拉选择覆盖
.ant-select {
    .ant-select-selector {
        background-color: var(--bds-gray-ele-line) !important;
        border-radius: 4px;

        &:hover {
            background-color: var(--bds-gray-ele-border) !important;
        }
    }

    .ant-select-selection-item,
    .ant-select-selection-search-input {
        color: var(--bds-static-black) !important;
        font-weight: 500;
        font-size: 12px;
    }

    .ant-select-arrow {
        transition: all 0.3s ease-in-out;
        color: var(--bds-gray-t2);
    }

    // 展开下拉菜单小箭头样式
    &.ant-select-open:not(.ant-select-show-search) {
        .ant-select-arrow {
            transform: rotate(180deg);
        }
    }

    // 禁用
    &.ant-select-disabled {
        .ant-select-selector {
            background-color: var(--bds-gray-ele-line) !important;

            .ant-select-selection-item,
            .ant-select-selection-search-input {
                color: var(--bds-gray-t2) !important;
            }
        }

        .ant-select-arrow {
            color: var(--bds-gray-t4-dis);
        }
    }

    // form表单位置的样式
    &.form-select {
        width: 136px;

        .ant-select-selector {
            height: 40px;
        }

        .ant-select-selection-item,
        .ant-select-selection-search-input {
            height: 38px !important;
            line-height: 38px;
        }
    }
}

// 下拉选择弹窗覆盖
.ant-select-dropdown {
    box-shadow: 0 0 0 1px var(--bds-gray-ele-border), 0 2px 16px rgba(18, 18, 20, 0.1);

    .ant-select-item {
        color: var(--bds-static-black);
        font-size: 12px;
        transition: all 0.3s ease-in-out;
        border-radius: 6px;
        padding: 4px 8px;
        min-height: initial;

        // 禁用色值
        &.ant-select-item-option-disabled {
            color: var(--bds-gray-t3);
        }

        // active背景色
        &-option-active:not(.ant-select-item-option-disabled) {
            background-color: transparent;
        }

        // 选中样式
        &-option-selected:not(.ant-select-item-option-disabled) {
            color: var(--bds-brand-900-text);
            font-weight: 500;
            background-color: transparent;
        }

        // hover样式
        &:not(.ant-select-item-option-selected, .ant-select-item-option-disabled):hover {
            background-color: var(--bds-gray-ele-border);
            color: var(--bds-static-black);
            font-weight: 400;
        }

        .ant-select-item-option-content {
            height: initial;
            line-height: 18px;
        }
    }

    // form表单下拉弹窗宽度设置
    &.form-select-dropdown {
        width: initial !important;
        max-width: 160px;
    }
}
