:root {
    --color-3: #121214;
    --color-5: #f3f5f7;
    --color-8: #e9edf2;
    --color-10: #d5dae0;
    --color-11: #adb1b8;
    --color-12: #81858c;
    --color-15: #f7a600;
    --color-16: #eb8d13;
}
